// pre-loader for pages and skeleton
// change color of buttons in projects pages
// change color of buttons when that page is active

0. HomePage
   ~ My Photo
   ~ Who Am I

1. Skills
#    ~ Platforms : Leetcode, Codeforces, Github, Codechef Stats
   ~ Languages :
   ~ Databases :
   ~ Technologies : aws ec2 linux ubuntu kibana logstash 

2. Projects
    ~ Supply Chain using Blockchain
    ~ Machine Learning Project
    ~ Game of Life

3. Hackathons
    ~ Code For Good
    ~ Maker's Garage
    ~ CSI SPIT '22
    ~ CSI SPIT '21

4. Experiences
    ~ Professional
    ~ Schooling

5. Blog