body {
	background-color: "#b31b1b";
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.wiggle a:hover {
	animation: wiggle 75ms infinite;
	animation-timing-function: linear;
}

@keyframes wiggle {
	0% {
		transform: translate(2px, 0);
	}
	50% {
		transform: translate(-2px, 0);
	}
	100% {
		transform: translate(2px, 0);
	}
}
